*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio 3.2
/.idea/codeStyles
/.idea/gradle.xml
/.idea/misc.xml

# Mac
.DS_Store

app/build
app/release
release.keystore

# Ignore custom tool files
/tmp/
/.idea/
/.vscode/
gradle/gradle-daemon-jvm.properties
